*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: bahnschrift;
}

body{
    height: 100vh;
    background-image: url(../assets/logo/RSPB.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 300px;

    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(164, 164, 164, 0.3);
}
.card h2{
    text-align: left;
    color: #1F2855;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 4px solid #2979ff;
}
.card label{
    text-align: left;
    color: #1F2855;
}
.card form input{
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #2979ff;
    color: #1F2855;
    font-size: 20px;
}
.card form button{
    width: 100%;
    padding: 5px 0;
    border: none;
    font-size: 18px;
    background-color: #2979ff;
    color: #fafafa;
    border-radius: 5px;
}

.card form button:hover{
    background-color: #1864e6;
}

h1 {
    background-color: #fff;
    width: 100%;
}

img {
    display: block;
    margin: auto;
}